body {
	background-color: grey;
}

/* Icon Shrink Fade In */
.icon-shrink-fade-in {
	-webkit-animation: fade-in 0.2s ease,
  						shrink 0.2s ease;
	-moz-animation: fade-in 0.2s ease,
  						shrink 0.2s ease;
	-o-animation: fade-in 0.2s ease,
  						shrink 0.2s ease;
	animation: fade-in 0.2s ease,
  						shrink 0.2s ease;
  						
  	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.icon {
	border-radius: 5px;
	
	-webkit-transition: -webkit-transform 0.1s;
	transition: transform 0.1s;
}

.icon:hover {
	-webkit-transform: perspective(50em) rotateX(11deg);
	transform: perspective(50em) rotateX(11deg);
	
	-webkit-box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.4);
}

#icon-grid {
	-webkit-transform: translateZ(1px);
	transform: translateZ(1px);
}

/* Icon Fall Bounce */

.icon-fall-bounce {
	-webkit-animation: fall-bounce 1s linear;
	-moz-animation: fall-bounce 1s linear;
	-o-animation: fall-bounce 1s linear;
	animation: fall-bounce 1s linear;
  						
  	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}


/* Popup Menu */

#popup-menu {
	background-color: rgba(0, 0, 0, 0.8);
	border: thin white solid;
	border-radius: 5px;
	color: white;
	padding: 20px;
	width: 200px;
}

.menu-row-slide-fade-in {
	-webkit-animation: fade-in 0.2s ease 0.05s,
  						slide-right 0.2s ease;
	-moz-animation: fade-in 0.2s ease 0.05s,
  						slide-right 0.2s ease;
	-o-animation: fade-in 0.2s ease 0.05s,
  						slide-right 0.2s ease;
	animation: fade-in 0.2s ease 0.05s,
  						slide-right 0.2s ease;
  						
  	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}



@keyframes fade-in {
	from { opacity: 0; }
	to { opacity: 1; }
}
@-webkit-keyframes fade-in {
	from { opacity: 0; }
	to { opacity: 1; }
}
@-moz-keyframes fade-in {
	from { opacity: 0; }
	to { opacity: 1; }
}
@-ms-keyframes fade-in {
	from { opacity: 0; }
	to { opacity: 1; }
}
@-o-keyframes fade-in {
	from { opacity: 0; }
	to { opacity: 1; }
}


@keyframes expand {
	from {
		transform:scale(0.8, 0.8);
	}
	to {
		transform:scale(1, 1);
	}
}
@-webkit-keyframes expand {
	from {
		-webkit-transform:scale(0.8, 0.8);
	}
	to {
		-webkit-transform:scale(1, 1);
	}
}
@-moz-keyframes expand {
	from {
		-moz-transform:scale(0.8, 0.8);
	}
	to {
		-moz-transform:scale(1, 1);
	}
}
@-o-keyframes expand {
	from {
		-o-transform:scale(0.8, 0.8);
	}
	to {
		-o-transform:scale(1, 1);
	}
}




@keyframes shrink {
	from {
		transform:scale(1.2, 1.2);
	}
	to {
		transform:scale(1, 1);
	}
}
@-webkit-keyframes shrink {
	from {
		-webkit-transform:scale(1.2, 1.2);
	}
	to {
		-webkit-transform:scale(1, 1);
	}
}
@-moz-keyframes shrink {
	from {
		-moz-transform:scale(1.2, 1.2);
	}
	to {
		-moz-transform:scale(1, 1);
	}
}
@-o-keyframes shrink {
	from {
		-o-transform:scale(1.2, 1.2);
	}
	to {
		-o-transform:scale(1, 1);
	}
}



@keyframes slide-right {
	from {
		transform:translateX(-50px);
	}
	to {
		transform:translateX(0px);
	}
}
@-webkit-keyframes slide-right {
	from {
		-webkit-transform:translateX(-50px);
	}
	to {
		-webkit-transform:translateX(0px);
	}
}
@-moz-keyframes slide-right {
	from {
		-moz-transform:translateX(-50px);
	}
	to {
		-moz-transform:translateX(0px);
	}
}
@-o-keyframes slide-right {
	from {
		-o-transform:translateX(-50px);
	}
	to {
		-o-transform:translateX(0px);
	}
}

@keyframes fall-bounce {
	0% {
		-transform: translateY(-1000px);
	}
	30% {
		-transform: translateY(0%)
							scale(1, 0.6);*/
	}
	45% {
		-transform: translateY(-30%);
	}
	55% {
		-transform: translateY(0%)
							scale(1, 0.7);*/
	}
	65% {
		-transform: translateY(-15%);
	}
	80% {
		-transform: translateY(0%)
							scale(1, 0.8);*/
	}
	90% {
		-transform: translateY(-7%);
	}
	100% {
		-transform: translateY(0%)
							scale(1, 1);
	}
}

@-webkit-keyframes fall-bounce {
	0% {
		-webkit-transform: translateY(-1000px);
	}
	30% {
		-webkit-transform: translateY(0%)
							scale(1, 0.6);*/
	}
	45% {
		-webkit-transform: translateY(-30%);
	}
	55% {
		-webkit-transform: translateY(0%)
							scale(1, 0.7);*/
	}
	65% {
		-webkit-transform: translateY(-15%);
	}
	80% {
		-webkit-transform: translateY(0%)
							scale(1, 0.8);*/
	}
	90% {
		-webkit-transform: translateY(-7%);
	}
	100% {
		-webkit-transform: translateY(0%)
							scale(1, 1);
	}
}

@-moz-keyframes fall-bounce {
	0% {
		-moz-transform: translateY(-1000px);
	}
	30% {
		-moz-transform: translateY(0%)
							scale(1, 0.6);*/
	}
	45% {
		-moz-transform: translateY(-30%);
	}
	55% {
		-moz-transform: translateY(0%)
							scale(1, 0.7);*/
	}
	65% {
		-moz-transform: translateY(-15%);
	}
	80% {
		-moz-transform: translateY(0%)
							scale(1, 0.8);*/
	}
	90% {
		-moz-transform: translateY(-7%);
	}
	100% {
		-moz-transform: translateY(0%)
							scale(1, 1);
	}
}

@-o-keyframes fall-bounce {
	0% {
		-o-transform: translateY(-1000px);
	}
	30% {
		-o-transform: translateY(0%)
							scale(1, 0.6);*/
	}
	45% {
		-o-transform: translateY(-30%);
	}
	55% {
		-o-transform: translateY(0%)
							scale(1, 0.7);*/
	}
	65% {
		-o-transform: translateY(-15%);
	}
	80% {
		-o-transform: translateY(0%)
							scale(1, 0.8);*/
	}
	90% {
		-o-transform: translateY(-7%);
	}
	100% {
		-o-transform: translateY(0%)
							scale(1, 1);
	}
}
