vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|13 Sep 2014 22:10:13 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|flint/team.html flint/index.html flint/profile.html
vti_author:SR|KEVIN-YOGA\\kevinmbeaulieu
vti_modifiedby:SR|KEVIN-YOGA\\kevinmbeaulieu
vti_timecreated:TR|17 Aug 2014 04:26:10 -0000
vti_syncwith_ftp.kevinmbeaulieu.com\:21:TX|13 Sep 2014 22:10:13 -0000
vti_syncofs_ftp.kevinmbeaulieu.com\:21:TW|16 Sep 2014 03:15:26 -0000
vti_cacheddtm:TX|13 Sep 2014 22:10:13 -0000
vti_filesize:IR|6425
vti_cachedlinkinfo:VX|S|../fonts/CODE\\ Light.otf S|../fonts/CODE\\ Bold.otf
vti_cachedsvcrellinks:VX|NSUS|flint/fonts/CODE\\ Light.otf NSUS|flint/fonts/CODE\\ Bold.otf
