<% include ./top %>
<section id="header-container">
    <header>
        <h2>
            <object class="header-title" type="image/svg+xml" data="img/title-mobile.svg">
                <img class="header-title" src="img/title-mobile.png" alt="Kevin Beaulieu" />
            </object>
        </h2>
        <div class="links">
            <p><a href="/">
                    Home
            </a></p>
            <p><a href="/#mystory">
                My Story
            </a></p>
            <div class="spacer"></div>
            <p><a href="<%= hasOwnProperty('route') ? route : '/' %>#mywork">
                My Work
            </a></p>
            <p><a href="/#letstalk">
                Let's Talk!
            </a></p>
        </div>
    </header>
</section>
