<section>
    <h2><a name="mywork">
        My Work
    </a></h2>

    <div class="projects">
        <div class="project-category">
            <h4>Jobs</h4>
            <div class="project">
                <a href="thumbtack">
                    Thumbtack
                </a>
            </div>
            <div class="project">
                <a href="endless">
                    Endless
                </a>
            </div>
            <div class="project">
                <a href="flint">
                    Flint
                </a>
            </div>
        </div>

        <div class="project-category">
            <h4>macOS</h4>
            <div class="project">
                <a href="password-manager">
                    Secure password manager
                </a>
            </div>
            <div class="project">
                <a href="blur-focus">
                    BlurFocus
                </a>
            </div>
            <div class="project">
                <a href="clean-menu-bar">
                    CleanMenuBar
                </a>
            </div>
        </div>

        <div class="project-category">
            <h4>Apps</h4>
            <div class="project">
                <a href="cerebrum-app">
                    Cerebrum (Android)
                </a>
            </div>
            <div class="project">
                <a href="electrode-app">
                    Electrode (iOS)
                </a>
            </div>
            <div class="project">
                <a href="3d-tetris">
                    3D Tetris (Unity engine)
                </a>
            </div>
        </div>

        <div class="project-category">
            <h4>Design</h4>
            <div class="project">
                <a href="inbox-prototype">
                    Google Inbox prototype (Origami)
                </a>
            </div>
            <div class="project">
                <a href="illustrations">
                    Vector Illustrations (Sketch)
                </a>
            </div>
            <div class="project">
                <a href="weather-app">
                    Weather animations (After Effects)
                </a>
            </div>
        </div>
    </div>
</section>
