@import "variables.less";
@import "breakpoints.less";
@import "mixins.less";

// Common styles
body {
    width: @body-width;
    max-width: 90vw;
    margin: 0 auto;
}

h1 {
    .h1()
}

h2 {
    .h2();
}

h3 {
    .h3();
}

p {
    .p();
}

.subtitle {
    @font-size: @base-font-size * 1.1;
    .base-heading-font(@font-size, @font-size, 400);
    color: @text-color;
    text-align: center;
    margin-top: -1 * @base-font-size * 3.7;
    margin-bottom: @base-font-size * 4;
}

a {
    color: @text-color;
}

section {
    overflow: hidden;
    margin-bottom: @base-font-size * 3;
    text-align: center;

    &.content {
        display: flex;
        justify-content: space-between;
        @media @mobile {
            flex-wrap: wrap;
        }

        > div {
            flex-grow: 1;

            @media @not-mobile {
                padding: 0 @base-font-size * 3;
            }

            @media @mobile {
                padding: 0 @base-font-size * 1;
            }

            &.half-width {
                width: 50%;

                @media @not-mobile {
                    &:first-child {
                        padding: 0 20px 0 0;
                    }

                    &:last-child {
                        padding: 0 0 0 20px;
                    }
                }
            }

            @media @mobile {
                width: 100%;
            }
        }

        .image {
            padding: @base-font-size * 3 0;

            &:first-child {
                padding-top: 0;
            }

            img {
                max-width: 100%;
                max-height: 80vh;
            }

            .caption {
                .base-heading-font(@base-font-size * 0.8, @base-font-size, 400);
                color: lighten(@text-color, 20%);
                text-align: center;
                margin-top: @base-font-size;
            }
        }

        .video-responsive {
            position: relative;
            padding-bottom: calc(133% - 2px);
            height: 0;
            overflow: hidden;
            width: 333px;
            margin: 0 auto;

            @media @smaller-than-tablet-incl {
                width: 160px;
            }

            > video {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }

        .iphone-4s-frame {
            background-image: url(/img/iPhone4s.png);
            background-repeat:no-repeat;
            background-size: contain;
            width: 235px;
            height: 480px;
            margin: 0 auto;
            position: relative;
            overflow:hidden;

            > .video-responsive {
                position: absolute;
                top: 43px;
                left: 32px;
                width: 170px;
            }

            @media @smaller-than-tablet-incl {
                width: 160px;
                height: 327px;

                > .video-responsive {
                    top: 29px;
                    left: 22px;
                    width: 116px;
                }
            }
        }

    }
}

// Fix for IE's default of width: 150px for all SVGs
object {
    width: 100%;
}

header {
    .header-title {
        width: 160px;
    }

    h2 {
        margin-bottom: 0;
    }

    .links {
        display: flex;

        justify-content: space-between;

        @font-size: @base-font-size * 0.8;

        @media @not-mobile {
            margin-top: -@base-font-size / 2;
            padding: 0 @font-size * 1.5;
        }

        @media @mobile {
            margin-top: @base-font-size / 2;
        }

        p {
            .base-heading-font(@font-size, @font-size * 1.1);
            letter-spacing: @font-size * 0.16;
            color: @text-color;
            text-transform: uppercase;

            margin-top: 0;
            font-weight: 400;
            flex-grow: 1;

            @media @not-mobile {
                &:nth-child(1),
                &:nth-child(2) {
                    text-align: left;
                }

                &:nth-child(4),
                &:nth-child(5) {
                    text-align: right;
                }
            }

            @media @mobile {
                text-align: center;

                border-right: #CCC 1px solid;

                &:last-child {
                    border-right: none;
                }
            }

            a {
                text-decoration: none;
            }
        }

        @media @not-mobile {
            .spacer {
                flex-grow: 2;
            }
        }
    }
}

footer {
    .triangle {
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 13px solid @border-color;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: @base-font-size;
    }
}

.projects {
    @num-categories: 4;
    @num-projects-per-category: 3;

    @grid-spacing: @base-font-size * 0.5;
    @project-padding: @base-font-size * 0.67;

    @project-height: @base-font-size * 5;

    @category-heading-font-size: @base-font-size;
    @category-heading-margin: @base-font-size * 1;

    @category-width: (@grid-width - (@num-categories - 1) * @grid-spacing)
        / @num-categories;
    @category-height: @num-projects-per-category * @project-height
        + (@num-projects-per-category - 1) * @grid-spacing
        + @category-heading-font-size + 2 * @category-heading-margin
        + 2 * 2px; // Allow room for drop shadow on bottom row

    @grid-width: @body-width;
    @grid-height: @category-height;
    @condensed-grid-height: @num-categories * @category-height;

    @condensed-breakpoint: @smaller-than-tablet-incl;

    display: flex;
    justify-content: space-between;

    @media @condensed-breakpoint {
        flex-wrap: wrap;
    }

    width: @grid-width;
    height: @grid-height;
    @media @condensed-breakpoint {
        width: 100%;
        height: @condensed-grid-height;
    }

    .project-category {
        width: @category-width;
        height: @category-height;
        @media @condensed-breakpoint {
            width: 100%;
        }

        margin-right: @grid-spacing;
        &:last-child {
            margin-right: 0;
        }
        @media @condensed-breakpoint {
            margin-right: 0;
        }

        h4 {
            .base-heading-font(@category-heading-font-size,
                @category-heading-font-size, 700);
            margin: @category-heading-margin 0;
            color: @text-color;
            text-align: center;
        }

        .project {
            @border-width: 1px;

            width: @category-width - 2 * (@project-padding + @border-width);
            height: @project-height - 2 * (@project-padding + @border-width);
            @media @condensed-breakpoint {
                width: calc(~"100% - 2 * (@{project-padding} + @{border-width})");
            }

            padding: @project-padding;
            border: @border-width solid @border-color;

            margin-bottom: @grid-spacing;
            &:last-child {
                margin-bottom: 0;
            }

            // Fixed size, regardless of base font size
            // to fit fixed size grid cells
            @font-size: 13px;
            .base-heading-font(@font-size, @font-size * 1.1, 400);
            color: @text-color;
            letter-spacing: @font-size * 0.044;

            background-color: @project-grid-cell-bg-color;
            box-shadow: @drop-shadow-small;
            &:hover {
                background-color: darken(@project-grid-cell-bg-color, 6%);
                box-shadow: @drop-shadow;
            }

            a {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;
                text-align: left;
                text-decoration: none;
            }
        }
    }
}
