@import "variables.less";
@import "breakpoints.less";
@import "mixins.less";

// Common styles
body {
    width: 700px;
    max-width: 90vw;
    margin: 0 auto;
}

h1 {
    .h1()
}

h2 {
    .h2();
}

p {
    .p();
}

.subtitle {
    @font-size: @base-font-size * 1.1;
    .base-font(@font-size, @font-size, 400);
    color: @text-color;
    .center-text();
    margin-top: -1 * @base-font-size * 3.7;
    margin-bottom: @base-font-size * 4;
}

a {
    color: @text-color;
}

section {
    overflow: hidden;
    margin-bottom: @base-font-size * 3;
    .center-text();

    &.content {
        display: flex;
        justify-content: space-between;
        @media @mobile {
            flex-wrap: wrap;
        }

        > div {
            padding: 0 @base-font-size * 3;
            flex-grow: 1;

            &.half-width {
                width: 50%;
            }

            @media @mobile {
                width: 100%;
            }
        }

        img {
            width: 100%;
            padding: @base-font-size * 3 0;

            &:first-child {
                padding-top: 0;
            }
        }
    }
}

// Fix for IE's default of width: 150px for all SVGs
object {
    width: 100%;
}

header {
    .header-title {
        width: 160px;
    }

    h2 {
        margin-bottom: 0;
    }

    .links {
        display: flex;

        justify-content: space-between;

        @font-size: @base-font-size * 0.8;
        .base-font(@font-size, @font-size * 1.1);
        letter-spacing: @font-size * 0.16;
        color: @text-color;
        text-transform: uppercase;
        margin-top: -@base-font-size / 2;

        @media @not-mobile {
            padding: 0 @font-size * 1.5;
        }

        h3 {
            margin-top: 0;
            font-weight: 400;
            flex-grow: 1;

            &:nth-child(1),
            &:nth-child(2) {
                text-align: left;
            }

            &:nth-child(4),
            &:nth-child(5) {
                text-align: right;
            }

            a {
                text-decoration: none;
            }
        }

        @media @not-mobile {
            .spacer {
                flex-grow: 2;
            }
        }
    }
}

footer {
    .triangle {
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 13px solid @border-color;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: @base-font-size;
    }
}

.project-grid {
    @grid-size: 90px;
    @grid-spacing: 10px;
    @cell-padding: @base-font-size * 0.67;
    @full-width-breakpoint: @smaller-than-tablet-incl;
    @bigger-than-full-width-breakpoint: @bigger-than-tablet-excl;

    position: relative;
    height: 3 * @grid-size + 4 * @grid-spacing;

    @num-projects: 16;
    @media @full-width-breakpoint {
        height: @num-projects * @grid-size + (@num-projects + 7) * (@grid-spacing / 2);
    }

    text-align: left;

    .cell-fullx1() {
        width: calc(~"100% - 30px");
        height: @grid-size - 2 * @cell-padding;
    }

    .cell-1x1 {
        width: @grid-size - 2 * @cell-padding;
        height: @grid-size - 2 * @cell-padding;

        @media @full-width-breakpoint {
            .cell-fullx1();
        }
    }

    .cell-2x1 {
        width: @grid-size * 2 + @grid-spacing - 2 * @cell-padding;
        height: @grid-size - 2 * @cell-padding;

        @media @full-width-breakpoint {
            .cell-fullx1();
        }
    }

    .cell-1x2 {
        width: @grid-size - 2 * @cell-padding;
        height: @grid-size * 2 + @grid-spacing - 2 * @cell-padding;

        @media @full-width-breakpoint {
            .cell-fullx1();
        }
    }

    // Use <span> to indicate spacers, since :nth-of-type
    // can only match on tags, not classes.
    span.cell {
        display: none;
    }

    .cell {
        margin: @grid-spacing / 2;
        padding: @cell-padding;
        border: 1px solid @border-color;

        // Fixed size, regardless of base font size
        // to fit fixed size grid cells
        @font-size: 13px;
        .base-font(@font-size, @font-size * 1.1, 300);
        color: @text-color;
        letter-spacing: @font-size * 0.044;

        background-color: @project-grid-cell-bg-color;

        &:hover {
            background-color: darken(@project-grid-cell-bg-color, 6%);
            box-shadow: @drop-shadow;
        }

        a {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            text-decoration: none;
        }

        .cell-positions (@index) when (@index < 30) {
            @media @bigger-than-full-width-breakpoint {
                &:nth-child(@{index}) {
                    position: absolute;
                    top: floor((@index - 1) / 7) * (@grid-size + @grid-spacing);
                    left: (mod((@index - 1), 7)) * (@grid-size + @grid-spacing);
                }
            }

            @media @full-width-breakpoint {
                &:nth-of-type(@{index}) {
                    top: floor((@index - 1) * (@grid-size + @grid-spacing));
                    left: 0;
                }
            }

            .cell-positions(@index + 1);
        }
        .cell-positions(1);
    }
}

.iphone-4s-frame {
    background-image: url(/img/iPhone4s.png);
    background-repeat:no-repeat;
    background-size: 235px 443px;
    width: 235px;
    height: 443px;
    position: relative;
    overflow:hidden;

    > video {
        position: absolute;
        top: 71px;
        left: 37px;
    }
}
