@import "variables.less";
@import "breakpoints.less";
@import "mixins.less";

#header-container {
    display: none;

    &.show {
        display: block;
    }
}

#intro-section {
    position: relative;
    height: 80vh;

    @media @mobile {
        height: 400px;
    }

    &.hide {
        display: none;
    }

    #title {
        position: absolute;
        top: 40vh;
        left: 0;
        width: 100%;

        @media @mobile {
            top: 200px;
        }
    }
}

p {
    @font-size: @base-font-size * 1.2;
    .base-paragraph-font(@font-size, @font-size * 1.8);
    letter-spacing: @font-size * 0.01;
    margin-bottom: @font-size * 1.5;
    text-align: center;
}

.center-text {
    text-align: left;
    position: relative;
    hyphens: none;

    @media @not-mobile {
        left: 5%;
        right: 5%;
        width: 90%;
    }
}
