.base-heading-font(@font-size: @base-font-size, @line-height: 1em, @font-weight: @base-heading-font-weight) {
    font: @font-weight @font-size/@line-height @base-heading-font-family;
}

.base-paragraph-font(@font-size: @base-font-size, @line-height: 1em, @font-weight: @base-paragraph-font-weight) {
    font: @font-weight @font-size/@line-height @base-paragraph-font-family;
}

.italics {
    font-style: italic;
}

.mobile {
    @media @not-mobile {
        display: none;
    }
}

.not-mobile {
    @media @mobile {
        display: none;
    }
}

// Header/paragraph tag mixins
.h1 {
    @font-size: @base-font-size * 2.7;
    .base-heading-font(@font-size, @font-size * 1.1, 700);
    color: @text-color;
    text-align: center;
    margin-bottom: @base-font-size * 4;
}

.h2 {
    @font-size: @base-font-size * 2.7;
    .base-heading-font(@font-size, @font-size * 1.1, 400);
    letter-spacing: @font-size * 0.16;
    color: @text-color;
    text-transform: uppercase;

    display: inline-block;
    position: relative;

    &::before, &::after {
        @bar-spacing: @font-size * 0.14;
        content: "";
        position: absolute;
        height: @bar-spacing;
        border-bottom: 1px solid @border-color;
        border-top: 1px solid @border-color;
        top: @font-size / 2 - @bar-spacing / 2;
        width: 1000%;
    }

    &::before {
        right: 100%;
        margin-right: @font-size * 0.4;
    }

    &::after {
        left: 100%;
        margin-left: @font-size * 0.4;
    }
}

.h3 {
    @font-size: @base-font-size * 2;
    .base-heading-font(@font-size, @font-size * 1.1, 400);
    letter-spacing: @font-size * 0.16;
    color: @text-color;
    text-transform: uppercase;

    display: inline-block;
    position: relative;

    &::before, &::after {
        @bar-spacing: @font-size * 0.14;
        content: "";
        position: absolute;
        border-top: 1px solid @border-color;
        top: @font-size / 2;
        width: 1000%;
    }

    &::before {
        right: 100%;
        margin-right: @font-size * 0.4;
    }

    &::after {
        left: 100%;
        margin-left: @font-size * 0.4;
    }
}

.p {
    @font-size: @base-font-size * 1.2;
    .base-paragraph-font(@font-size, @font-size * 1.8);
    letter-spacing: @font-size * 0.007;
    color: @text-color;
    margin-top: 0;
    margin-bottom: @font-size * 0.5;
    text-align: justify;
    hyphens: auto;
}
