<!doctype html>

<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:300,400">
<link rel="stylesheet" type="text/css" href="css/default.css">
<link rel="stylesheet" type="text/css" href="css/index.css">

<script src="js/smoothscroll.js"></script>

<meta name="viewport" content="width=device-width" />

<title>Kevin Beaulieu</title>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57392466-1', 'auto');
  ga('send', 'pageview');

</script>
</head>

<body>
    <%- include('partials/top.ejs') %>
    <section id="intro-section">
        <canvas id="shapes" width="700px"></canvas>
        <object id="title" type="image/svg+xml" data="img/title.svg">
            <img id="title" src="img/title.png" alt="Kevin Beaulieu" />
        </object>
    </section>

    <section>
        <h2><a name="mystory">
            My Story
        </a></h2>
        <p class="center-text">
            Hi, my name is Kevin Beaulieu! 👋
        </p>
        <p class="center-text">
            I am a software engineer at Thumbtack, working primarily on our two iOS apps.
            Before that, I studied computer science and philosophy with a minor in physics at Cornell University.
        </p>
        <p class="center-text">
            I put great care into building experiences that serve as beautiful, natural extensions
            of our lives. As part of this, I champion an accessibility-first, well-tested approach to
            product development.
        </p>
        <p class="center-text">
            Check out some of my past work down below!
        </p>
    </section>

    <%- include('partials/projects-grid.ejs') %>

    <section>
        <h2><a name="letstalk">
            Let's Talk!
        </a></h2>
        <p class="center-text">
            I would love to hear about any opportunities you have, but have a particular interest in
            the autonomous vehicle, quantum computing, and augmented/mixed reality spaces.
        </p>
        <p>
            <a href="mailto:kevinmbeaulieu@gmail.com?Subject=Hi!" target="_top">Email</a><br/>
            <a href="https://www.linkedin.com/in/kevinmbeaulieu" target="_blank">LinkedIn</a><br/>
            <a href="https://www.github.com/kevinmbeaulieu" target="_blank">GitHub</a>
        </p>
    </section>

    <% include('partials/footer.ejs') %>

    <script type="text/javascript">
        /*
         * On page load
         */
        let canvas = document.getElementById("shapes");
        let context = canvas.getContext('2d');
        let shapesArr = new Array();
        let shapeInitialDensity = 0.04;
        let spawnRate = 0.03;

        var startShapes = 0;

        window.onload = function() {
            resize();

            // Randomly spawn shapes
            startShapes = shapeInitialDensity * canvas.width;
            for(var i = 0; i < startShapes; i++) {
                spawnShape(false);
            }
        };

        window.onresize = resize;

        function resize() {
            // Set up canvas
            canvas.height = window.innerHeight * 0.8;
        }

        function drawShape(h) {
            let size = (1 - h.depth) * 10 + 5;

            context.beginPath();
            context.moveTo(h.x +  size * Math.cos(h.angle),
                h.y + size *  Math.sin(h.angle));

            for (var i = 1; i <= h.numSides; i++) {
                context.lineTo(h.x + size * Math.cos(i * 2
                    * Math.PI / h.numSides + h.angle), h.y + size
                    * Math.sin(i * 2 * Math.PI / h.numSides + h.angle));
            }

            let alpha = 0.5 - h.depth * h.depth;
            context.strokeStyle = "rgba(147, 148, 152, " + alpha + ")";
            context.lineWidth = 1;
            context.stroke();
        }

        function spawnShape(atTop) {
            var depth = Math.random();
            let dir = -Math.PI / 2;
            let angle = Math.random()*2*Math.PI;
            let angspeed = Math.random()*0.01;
            let size = (1 - depth) * 10 + 5;
            let position = {
                x: Math.random() * (canvas.width - 60) + 30,
                y: atTop ? (-size - 5) : (Math.random() * canvas.height)
            };

            let numSides = Math.random() < 0.6 ? 6 : 3;
            if (numSides == 3) {
                depth += (1 - depth) * 0.2;
            }

            shapesArr.push({
                numSides: numSides,
                x: position.x,
                y: position.y,
                depth: depth,
                dir: dir,
                angle: angle,
                angspeed: angspeed
            });
        }

        window.requestAnimFrame = (function(callback) {
            return window.requestAnimationFrame || window.webkitRequestAnimationFrame
                || window.mozRequestAnimationFrame || window.oRequestAnimationFrame
                || window.msRequestAnimationFrame ||
                function(callback) {
                    window.setTimeout(callback, 1000 / 60);
                };
        })();

        function animate() {
            if(Math.random() < spawnRate) spawnShape(true);

            // Clear
            context.save();
            context.setTransform(1, 0, 0, 1, 0, 0);
            context.clearRect(0, 0, canvas.width, canvas.height);
            context.restore();

            // Draw shapes
            for(var i = 0; i < shapesArr.length; i++) {
                let shape = shapesArr[i];
                drawShape(shape);

                let speed = (1 - shape.depth * shape.depth) / 3 + 0.1;
                shape.x += speed * Math.cos(shape.dir);
                shape.y -= speed * Math.sin(shape.dir);

                shape.angle += shape.angspeed;

                let size = (1 - shape.depth) * 10 + 5;
                if(shape.x < -size - 6 || shape.x > canvas.width + size + 6 ||
                        shape.y < -size - 6 || shape.y > canvas.height + size + 6) {
                    shapesArr.splice(i, 1);
                    i--;
                }
            }

            // Draw gradient mask
            let mask = context.createLinearGradient(0, canvas.height - 100, 0, canvas.height);
            mask.addColorStop(0, "rgba(255, 255, 255, 0)");
            mask.addColorStop(1, "rgba(255, 255, 255, 255)");

            context.fillStyle = mask;
            context.fillRect(0, canvas.height - 100, canvas.width, 100);

            // Request new frame
            requestAnimFrame(animate);
        }

        animate();
    </script>

</body>

</html>
