vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|16 Sep 2014 03:43:27 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|KEVIN-YOGA\\kevinmbeaulieu
vti_modifiedby:SR|KEVIN-YOGA\\kevinmbeaulieu
vti_timecreated:TR|03 Jul 2014 05:01:17 -0000
vti_backlinkinfo:VX|anser/index.html navy/index.html endless/index.html cerebrum/index.html animation/index.html graphic/index.html remember/index.html electrode/index.html cuauv/index.html
vti_syncwith_ftp.kevinmbeaulieu.com\:21:TX|16 Sep 2014 03:43:27 -0000
vti_syncofs_ftp.kevinmbeaulieu.com\:21:TW|16 Sep 2014 03:45:01 -0000
vti_cacheddtm:TX|16 Sep 2014 03:43:27 -0000
vti_filesize:IR|1930
