vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|15 Sep 2014 19:58:27 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|KEVIN-YOGA\\kevinmbeaulieu
vti_modifiedby:SR|KEVIN-YOGA\\kevinmbeaulieu
vti_timecreated:TR|23 Mar 2014 01:29:35 -0000
vti_backlinkinfo:VX|index_old.html index.html
vti_syncwith_kbeaulieu.netii.net\:21/public_html:TX|11 Jun 2014 05:51:34 -0000
vti_syncofs_kbeaulieu.netii.net\:21/public_html:TW|18 Jun 2014 06:41:15 -0000
vti_nexttolasttimemodified:TW|24 Jun 2014 04:34:31 -0000
vti_syncwith_ftp.kevinmbeaulieu.com\:21:TX|15 Sep 2014 19:58:27 -0000
vti_syncofs_ftp.kevinmbeaulieu.com\:21:TW|16 Sep 2014 03:45:01 -0000
vti_cacheddtm:TX|15 Sep 2014 19:58:27 -0000
vti_filesize:IR|15197
vti_cachedlinkinfo:VX|S|../fonts/CODE\\ Light.otf S|../fonts/CODE\\ Bold.otf
vti_cachedsvcrellinks:VX|NSUS|fonts/CODE\\ Light.otf NSUS|fonts/CODE\\ Bold.otf
