vti_encoding:SR|utf8-nl
vti_author:SR|KEVIN-YOGA\\kevinmbeaulieu
vti_modifiedby:SR|KEVIN-YOGA\\kevinmbeaulieu
vti_timelastmodified:TR|06 Dec 2014 21:05:53 -0000
vti_timecreated:TR|06 Dec 2014 17:30:30 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|sdlc/index_dev.php sdlc/edit_info.php sdlc/setup.php sdlc/setup_dev.php sdlc/sdlc.php
vti_nexttolasttimemodified:TW|06 Dec 2014 21:05:36 -0000
vti_syncwith_ftp.kevinmbeaulieu.com\:21:TX|06 Dec 2014 21:05:53 -0000
vti_syncofs_ftp.kevinmbeaulieu.com\:21:TW|06 Dec 2014 21:06:19 -0000
vti_cacheddtm:TX|06 Dec 2014 21:05:53 -0000
vti_filesize:IR|780
