<section id="header-container">
    <header>
        <h2>
            <object class="header-title" type="image/svg+xml" data="img/title-mobile.svg">
                <img class="header-title" src="img/title-mobile.png" alt="Kevin Beaulieu" />
            </object>
        </h2>
        <div class="links">
            <h3><a href="index.html">
                    Home
            </a></h3>
            <h3><a href="index.html#mystory">
                My Story
            </a></h3>
            <div class="spacer"></div>
            <h3><a href="index.html#mywork">
                My Work
            </a></h3>
            <h3><a href="index.html#letstalk">
                Let's Talk!
            </a></h3>
        </div>
    </header>
</section>
