<section>
    <header>
        <h2>
            <object class="header-title" type="image/svg+xml" data="img/title-mobile.svg">
                <img class="header-title" src="img/title-mobile.png" alt="Kevin Beaulieu" />
            </object>
        </h2>
        <h3>
            Home
        </h3>
        <h3>
            My Story
        </h3>
        <h3>
            My Work
        </h3>
        <h3>
            Let's Talk!
        </h3>
    </header>
</section>
