<section>
    <h2><a name="mywork">
        My Work
    </a></h2>

    <div class="projects">
        <div class="project-category">
            <h4>Jobs</h4>
            <div class="project">
                <a href="thumbtack.html">
                    Thumbtack
                </a>
            </div>
            <div class="project">
                <a href="endless.html">
                    Endless
                </a>
            </div>
            <div class="project">
                <a href="cuauv.html">
                    Cornell Autonomous Underwater Vehicle
                </a>
            </div>
        </div>

        <div class="project-category">
            <h4>Design</h4>
            <div class="project">
                <a href="inbox-prototype.html">
                    Google Inbox prototype
                </a>
            </div>
            <div class="project">
                <a href="lily-os.html">
                    Lily OS oncept
                </a>
            </div>
            <div class="project">
                <a href="weather-app.html">
                    Weather animations
                </a>
            </div>
        </div>

        <div class="project-category">
            <h4>Research</h4>
            <div class="project">
                <a href="3d-rendering-algorithm.html">
                    3D graphics rendering algorithm
                </a>
            </div>
            <div class="project">
                <a href="password-manager.html">
                    Secure password manager
                </a>
            </div>
            <div class="project">
                <a href="typeface-skimming.html">
                    Typeface for skimming articles
                </a>
            </div>
        </div>

        <div class="project-category">
            <h4>Apps</h4>
            <div class="project">
                <a href="cerebrum.html">
                    Cerebrum (Android)
                </a>
            </div>
            <div class="project">
                <a href="electrode-app.html">
                    Electrode (iOS)
                </a>
            </div>
            <div class="project">
                <a href="3d-tetris.html">
                    3D Tetris (Desktop)
                </a>
            </div>
        </div>
    </div>
    {{!-- <div class="project-grid">
        <div class="cell cell-1x1">
            <a href="electrode-app.html">
                Electrode
            </a>
        </div>
        <div class="cell cell-1x1">
            <a href="lily-os.html">
                Lily OS
            </a>
        </div>
        <div class="cell cell-1x2">
            <a href="endless.html">
                Endless
            </a>
        </div>
        <div class="cell cell-1x1">
            <a href="cerebrum-app.html">
                Cerebrum
            </a>
        </div>
        <div class="cell cell-2x1">
            <a href="3d-rendering-algorithm.html">
                3D Rendering Algorithm
            </a>
        </div>
        <span class="cell cell-1x1"></span>
        <div class="cell cell-1x1">
            <a href="weather-app.html">
                Weather
            </a>
        </div>
        <div class="cell cell-1x2">
            <a href="thumbtack.html">
                Thumbtack
            </a>
        </div>
        <div class="cell cell-1x1">
            <a href="password-manager.html">
                Secure Password Manager
            </a>
        </div>
        <span class="cell cell-1x1"></span>
        <div class="cell cell-1x1">
            <a href="flint.html">
                Flint
            </a>
        </div>
        <div class="cell cell-1x1">
            <a href="analytic-services.html">
                Analytic Services Inc.
            </a>
        </div>
        <div class="cell cell-1x1">
            <a href="3d-tetris.html">
                3D Tetris
            </a>
        </div>
        <div class="cell cell-1x2">
            <a href="gizmos-gadgets.html">
                Gizmos & Gadgets
            </a>
        </div>
        <span class="cell cell-1x1"></span>
        <div class="cell cell-1x1">
            <a href="remember-app.html">
                re:member
            </a>
        </div>
        <div class="cell cell-1x1">
            <a href="cuauv.html">
                Cornell Autonomous Underwater Vehicle Team
            </a>
        </div>
        <div class="cell cell-2x1">
            <a href="inbox-prototype.html">
                Google Inbox Prototype
            </a>
        </div>
        <span class="cell cell-1x1"></span>
        <div class="cell cell-1x1">
            <a href="nswc.html">
                Naval Surface Warfare Center
            </a>
        </div>
        <span class="cell cell-1x1"></span>
    </div>--}}
</section>
