<section>
    <h2><a name="mywork">
        My Work
    </a></h2>

    <div class="projects">
        <div class="project-category">
            <h4>Jobs</h4>
            <div class="project">
                <a href="thumbtack.html">
                    Thumbtack
                </a>
            </div>
            <div class="project">
                <a href="endless.html">
                    Endless
                </a>
            </div>
            <div class="project">
                <a href="flint.html">
                    Flint
                </a>
            </div>
        </div>

        <div class="project-category">
            <h4>Design</h4>
            <div class="project">
                <a href="blur-focus.html">
                    BlurFocus (macOS)
                </a>
            </div>
            <div class="project">
                <a href="inbox-prototype.html">
                    Google Inbox prototype
                </a>
            </div>
            <div class="project">
                <a href="weather-app.html">
                    Weather animations
                </a>
            </div>
        </div>

        <div class="project-category">
            <h4>Research</h4>
            <div class="project">
                <a href="3d-rendering-algorithm.html">
                    3D graphics rendering algorithm
                </a>
            </div>
            <div class="project">
                <a href="password-manager.html">
                    Secure password manager
                </a>
            </div>
            <div class="project">
                <a href="lily-os.html">
                    Lily OS concept
                </a>
            </div>
        </div>

        <div class="project-category">
            <h4>Apps</h4>
            <div class="project">
                <a href="cerebrum-app.html">
                    Cerebrum (Android)
                </a>
            </div>
            <div class="project">
                <a href="electrode-app.html">
                    Electrode (iOS)
                </a>
            </div>
            <div class="project">
                <a href="3d-tetris.html">
                    3D Tetris (Desktop)
                </a>
            </div>
        </div>
    </div>
</section>
