<section id="intro-section">
    <canvas id="shapes" width="700px"></canvas>
    <object id="title" type="image/svg+xml" data="img/title.svg">
        <img id="title" src="img/title.png" alt="Kevin Beaulieu" />
    </object>
</section>

<section class="center-text">
    <h2><a name="mystory">
        My Story
    </a></h2>
    <p>
        My name is Kevin.<br/>
        I'm a computer science & philosophy major at Cornell University.
    </p>
    <p>
        I'm a <span class="italics">thinker</span>, a <span class="italics">software
        engineer</span>, & a <span class="italics">designer</span>.
    </p>
    <p>
        I love to contemplate challenging problems<br/>
        and draw on many disciplines to craft creative solutions.
    </p>
</section>

{{> projects-grid }}

<section>
    <h2><a name="letstalk">
        Let's Talk!
    </a></h2>
    <p>
        <a href="https://www.linkedin.com/in/kevinmbeaulieu" target="_blank">LinkedIn</a><br/>
        (614) 477-6779<br/>
        <a href="mailto:kevinmbeaulieu@gmail.com?Subject=Hi!" target="_top">
            kevinmbeaulieu@gmail.com
        </a><br/>
    </p>
</section>

{{> footer }}
