h2 {
    text-transform: uppercase;
    font-family: 'Open Sans', Lato, Montserrat, Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 2.5em;
    color: #888888;
}

h3 {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #b31b1b;
    font-size: 1.6em;
}

h4 {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #777777;
    font-size: 1.6em;
}

p {
    text-align: justify;
    font-family: Roboto, sans-serif;
    font-weight: 300;
}

#section-0 {
    background-image: url(../images/bg-business-meeting.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    color: white;
    height: calc(100% - 150px); /* 100% - (header height + section top padding + section bottom padding) */
}

#intro-container {
    position: absolute;
    top: 10%;
    right: 0;
    width: 1000px;
}

#intro-container td:first-child {
    width: 40%;
    padding-right: 100px;
}

#intro-container td:last-child {
    width: 60%;
}

#login-dialog {
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    margin: auto 0;
}

#login-dialog h3 {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px 30px;
    text-align: center;
}

#login-dialog h3:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#login-dialog h3:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#login-dialog h3:nth-child(even) {
    background-color: rgba(170, 170, 170, 0.3);
}

#title-container {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgba(235, 235, 235, 0.6);
}

#title {
    font-family:'Lato', CodeLight, CodeBold, Roboto, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 7em;
    letter-spacing:0.1em;
    padding: 20px;
    color: #b31b1b;
}

#scroll-down-indicator-back {
    width: 50px; 
    height: 50px;
    position:absolute;
    top:calc(100% - 100px);
    left:calc(50% - 25px);
    -moz-border-radius: 30px; 
    -webkit-border-radius: 30px; 
    border-radius: 30px;
    border: medium white solid;
    opacity:0;
}

.scroll-down-indicator-animate-in {
    -webkit-animation: scroll-down-indicator-animation 0.5s ease 0.3s forwards;
    -moz-animation: scroll-down-indicator-animation 0.5s ease 0.3s forwards;
    -ms-animation: scroll-down-indicator-animation 0.5s ease 0.3s forwards;
    -o-animation: scroll-down-indicator-animation 0.5s ease 0.3s forwards;
    animation: scroll-down-indicator-animation 0.5s ease 0.3s forwards;
}

#scroll-down-indicator-back:hover {
    background-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}
.scroll-down-indicator-hover {
    -webkit-animation: scroll-down-indicator-hover-animation 0.4s ease forwards;
    -moz-animation: scroll-down-indicator-hover-animation 0.4s ease forwards;
    -ms-animation: scroll-down-indicator-hover-animation 0.4s ease forwards;
    -o-animation: scroll-down-indicator-hover-animation 0.4s ease forwards;
    animation: scroll-down-indicator-hover-animation 0.4s ease forwards;
}

#scroll-down-indicator-front {
    width:20px;
    height:20px;
    position:relative;
    top:12px;
    left:14px;
    z-index:5;
    border-bottom: medium white solid;
    border-right: medium white solid;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}

.summary {
    width: 960px;
    margin: auto;
}

.description, .caption {
    padding: 20px;
    vertical-align: middle;
    line-height: 200%;
    display: table-cell;
}

.caption {
    width: 40%;
}

.caption:first-child {
    text-align: right;
}

.caption:last-child {
    text-align: left;
}

#select-user-type {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

#select-user-type td {
    padding: 3px 5px;
}

#select-user-type td:nth-child(2) {
    border-radius: 5px;
}

#select-user-type td:nth-child(2):hover {
    background-color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
}






@keyframes scroll-down-indicator-animation {
    0% {
        transform: translateY(110px) scale(1, 1);
    }
    24% {
        transform: translateY(0px) scale(1, 0.6);
    }
    40% {
        transform: translateY(30px) scale(1, 1);
    }
    56% {
        transform: translateY(0px) scale(1, 0.8);
    }
    70% {
        transform: translateY(10px) scale(1, 1);
    }
    80% {
        transform: translateY(0px) scale(1, 0.9);
    }
    94% {
        transform: translateY(3px) scale(1, 1);
    }
    100% {
        transform: translateY(0px) scale(1, 1);
    }
}
@-webkit-keyframes scroll-down-indicator-animation {
    0% {
        -webkit-transform: translateY(110px) scale(1, 1);
    }
    24% {
        -webkit-transform: translateY(0px) scale(1, 0.6);
    }
    40% {
        -webkit-transform: translateY(30px) scale(1, 1);
    }
    56% {
        -webkit-transform: translateY(0px) scale(1, 0.8);
    }
    70% {
        -webkit-transform: translateY(10px) scale(1, 1);
    }
    80% {
        -webkit-transform: translateY(0px) scale(1, 0.9);
    }
    94% {
        -webkit-transform: translateY(3px) scale(1, 1);
    }
    100% {
        -webkit-transform: translateY(0px) scale(1, 1);
    }
}
@-moz-keyframes scroll-down-indicator-animation {
    0% {
        -moz-transform: translateY(110px) scale(1, 1);
    }
    24% {
        -moz-transform: translateY(0px) scale(1, 0.6);
    }
    40% {
        -moz-transform: translateY(30px) scale(1, 1);
    }
    56% {
        -moz-transform: translateY(0px) scale(1, 0.8);
    }
    70% {
        -moz-transform: translateY(10px) scale(1, 1);
    }
    80% {
        -moz-transform: translateY(0px) scale(1, 0.9);
    }
    94% {
        -moz-transform: translateY(3px) scale(1, 1);
    }
    100% {
        -moz-transform: translateY(0px) scale(1, 1);
    }
}
@-ms-keyframes scroll-down-indicator-animation {
    0% {
        -ms-transform: translateY(110px) scale(1, 1);
    }
    24% {
        -ms-transform: translateY(0px) scale(1, 0.6);
    }
    40% {
        -ms-transform: translateY(30px) scale(1, 1);
    }
    56% {
        -ms-transform: translateY(0px) scale(1, 0.8);
    }
    70% {
        -ms-transform: translateY(10px) scale(1, 1);
    }
    80% {
        -ms-transform: translateY(0px) scale(1, 0.9);
    }
    94% {
        -ms-transform: translateY(3px) scale(1, 1);
    }
    100% {
        -ms-transform: translateY(0px) scale(1, 1);
    }
}
@-o-keyframes scroll-down-indicator-animation {
    0% {
        -o-transform: translateY(110px) scale(1, 1);
    }
    24% {
        -o-transform: translateY(0px) scale(1, 0.6);
    }
    40% {
        -o-transform: translateY(30px) scale(1, 1);
    }
    56% {
        -o-transform: translateY(0px) scale(1, 0.8);
    }
    70% {
        -o-transform: translateY(10px) scale(1, 1);
    }
    80% {
        -o-transform: translateY(0px) scale(1, 0.9);
    }
    94% {
        -o-transform: translateY(3px) scale(1, 1);
    }
    100% {
        -o-transform: translateY(0px) scale(1, 1);
    }
}

@keyframes scroll-down-indicator-hover-animation {
    0% {
        transform: scale(1, 1);
    }
    24% {
        transform: scale(1, 0.6);
    }
    40% {
        transform: scale(1, 1);
    }
    56% {
        transform: scale(1, 0.8);
    }
    75% {
        transform: scale(1, 1);
    }
    90% {
        transform: scale(1, 0.9);
    }
    100% {
        transform: scale(1, 1);
    }
}
@-webkit-keyframes scroll-down-indicator-hover-animation {
    0% {
        -webkit-transform: scale(1, 1);
    }
    24% {
        -webkit-transform: scale(1, 0.6);
    }
    40% {
        -webkit-transform: scale(1, 1);
    }
    56% {
        -webkit-transform: scale(1, 0.8);
    }
    75% {
        -webkit-transform: scale(1, 1);
    }
    90% {
        -webkit-transform: scale(1, 0.9);
    }
    100% {
        -webkit-transform: scale(1, 1);
    }
}
@-moz-keyframes scroll-down-indicator-hover-animation {
    0% {
        -moz-transform: scale(1, 1);
    }
    24% {
        -moz-transform: scale(1, 0.6);
    }
    40% {
        -moz-transform: scale(1, 1);
    }
    56% {
        -moz-transform: scale(1, 0.8);
    }
    75% {
        -moz-transform: scale(1, 1);
    }
    90% {
        -moz-transform: scale(1, 0.9);
    }
    100% {
        -moz-transform: scale(1, 1);
    }
}
@-ms-keyframes scroll-down-indicator-hover-animation {
    0% {
        -ms-transform: scale(1, 1);
    }
    24% {
        -ms-transform: scale(1, 0.6);
    }
    40% {
        -ms-transform: scale(1, 1);
    }
    56% {
        -ms-transform: scale(1, 0.8);
    }
    75% {
        -ms-transform: scale(1, 1);
    }
    90% {
        -ms-transform: scale(1, 0.9);
    }
    100% {
        -ms-transform: scale(1, 1);
    }
}
@-o-keyframes scroll-down-indicator-hover-animation {
    0% {
        -o-transform: scale(1, 1);
    }
    18% {
        -o-transform: scale(1, 0.6);
    }
    35% {
        -o-transform: scale(1, 1);
    }
    56% {
        -o-transform: scale(1, 0.8);
    }
    75% {
        -o-transform: scale(1, 1);
    }
    90% {
        -o-transform: scale(1, 0.9);
    }
    100% {
        -o-transform: scale(1, 1);
    }
}
