// out: ../css/default.css, sourcemap: true, compress: false

@import "mixins.less";

h2 {
    .main-font(~"62px/74px");
    letter-spacing: 7.8px;
    color: #4A4A4A;
    text-shadow: 0px 1px 1px #4A4A4A;
}

p {
    .main-font(~"26px/31px");
    letter-spacing: 3.6px;
    color: #4A4A4A;
}
