vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|23 Jun 2014 07:28:57 -0000
vti_author:SR|KEVIN-YOGA\\kevinmbeaulieu
vti_modifiedby:SR|KEVIN-YOGA\\kevinmbeaulieu
vti_nexttolasttimemodified:TW|23 Jun 2014 07:28:39 -0000
vti_timecreated:TR|23 Jun 2014 07:25:47 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
vti_syncwith_ftp.kevinmbeaulieu.com\:21:TX|23 Jun 2014 07:28:57 -0000
vti_syncofs_ftp.kevinmbeaulieu.com\:21:TW|08 Jul 2014 05:34:29 -0000
vti_cacheddtm:TX|23 Jun 2014 07:28:57 -0000
vti_filesize:IR|27
